<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link href="/static/default-ui.css" rel="stylesheet"/>
    <link href="/static/ui.css" rel="stylesheet"/>
    <link href="/static/table.css" rel="stylesheet"/>
</head>
<body>
<form class="default-form" action="#" method="post">
    <h1 class="center">주차장 추가</h1>
    <span th:if="${error != null}" th:text="${error}">Static summary</span>
    <p>
        <label for="parkingNum">주차장 번호</label>
        <input type="text" id="parkingNum" name="parkingNum" placeholder="주차장 번호" required autofocus>
    </p>
    <p>
        <label for="cctv">CCTV 번호</label>
        <select id="cctv" name="cctv">
            <option value="">카메라가 없음</option>
            <th:block th:each="cam : ${cams}">
                <option th:value="${cam.getCamId()}" th:text="|${cam.getUrl()}${cam.getRtspPath()}|"/>
            </th:block>
        </select>
    </p>
    <button type="submit" class="primary">추가</button>
</form>
</body>
</html>
