<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 주차장 ROI 수정</title>
    <link href="/static/default-ui.css" rel="stylesheet"/>
    <link href="/static/ui.css" rel="stylesheet"/>
    <link href="/static/table.css" rel="stylesheet"/>
    
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <style>
        #buttons {
            min-width: 60%;
        }

        #camBox {
            position: relative;
            max-width: 60vw;
        }

        #cv1 {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    </style>
    <script>
        function elem(name, value) {
            const elem = document.createElement('input');
            elem.type = 'hidden';
            elem.name = name;
            elem.id = name;
            elem.value = value;
            return elem;
        }
        
        function onROIEdit(form) {
            if (!window.lastPos) {
                alert("ROI를 지정해주세요.");
                return false;
            }

            form.appendChild(elem('_method', 'patch'));
            for (const [k, v] of Object.entries(window.lastPos)) {
                form.appendChild(elem(k, v));
            }
            return true;
        }
        
        function onROIDelete(form) {
            form.appendChild(elem('_method', 'delete'));
            return true;
        }

        function onROIFeature(form) {
            if (form.submited === "edit") {
                return onROIEdit(form);
            } else if (form.submited === "delete") {
                return onROIDelete(form);
            }
            return false;
            
        }

        function reset() {
            window.lastPos = null;
            const ctx = canvas.getContext("2d");
            clearScreen(ctx);
        }
    </script>
</head>
<body>
<div class="full-width center">
    <span th:if="${error != null}" th:text="${error}">Static summary</span>
    <div class="gap-1rem flex flex-col center m-1rem grow">
        <div id="camBox" class="flex grow flex-col">
            <img id="parkingImg" src="/static/parking.png" alt="주차장 템플릿 이미지"/>
            <canvas class="canvas" id="cv1"></canvas>
        </div>
        <h1>수정 메뉴</h1>
        <div class="flex grow flex-col gap-1rem" id="buttons">
            <h3>주차장 추가</h3>
            <form action="/admin/parking" method="post" onsubmit="onAdd(this)">
                <div class="flex flex-row gap-1rem">
                <span class="self-center w-40p">
                    <label for="parkingNum">주차장 번호</label>
                    <input type="text" id="parkingNum" name="parkingNum" placeholder="주차장 번호" required autofocus>
                </span>
                <span class="self-center w-40p">
                    <label for="cctv">CCTV 번호</label>
                    <select id="cctv" name="cctv">
                        <option value="">카메라가 없음</option>
                        <th:block th:each="cam : ${cams}">
                            <option th:value="${cam.getCamId()}" th:text="|${cam.getUrl()}${cam.getRtspPath()}|"/>
                        </th:block>
                    </select>
                </span>
                    <button type="submit" class="w-20p">추가</button>
                </div>
            </form>
            <h3>주차장 ROI 수정</h3>
            <form action="/admin/parking" method="post" onsubmit="return onROIFeature(this)">
                <div class="flex flex-row gap-1rem">
                    <span class="self-center w-80p">
                        <label for="numSelect">주차장 번호</label>
                        <select id="numSelect" name="parkingNum">
                            <th:block th:each="parking : ${parkings}">
                                <option th:value="${parking.getParkingNum()}" th:text="${parking.getParkingNum()}"/>
                            </th:block>
                        </select>
                    </span>
                    <button type="submit" value="edit" onclick="this.form.submited=this.value">ROI 추가/수정</button>
                    <button type="submit" value="delete" onclick="this.form.submited=this.value">ROI 제거</button>
                </div>
            </form>
            <h3>주차장 카메라 수정</h3>
            <form action="/admin/parking/edit" method="post">
                <div class="flex flex-row gap-1rem">
                    <span class="self-center w-40p">
                        <label for="numSel2">주차장 번호</label>
                        <select id="numSel2" name="parkingNum">
                            <th:block th:each="parking : ${parkings}">
                                <option th:value="${parking.getParkingNum()}" th:text="${parking.getParkingNum()}"/>
                            </th:block>
                        </select>
                    </span>

                    <span class="self-center w-40p">
                        <label for="cccc">CCTV 번호</label>
                        <select id="cccc" name="cctv">
                            <option value="">카메라가 없음</option>
                            <th:block th:each="cam : ${cams}">
                                <option th:value="${cam.getCamId()}" th:text="|${cam.getUrl()}${cam.getRtspPath()}|"/>
                            </th:block>
                        </select>
                    </span>
                    <button type="submit" class="w-20p">저장</button>
                </div>
            </form>
            <button onclick="reset()">초기화</button>
            <a href="/admin">관리자 메뉴로 돌아가기</a>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const canvas = document.getElementById("cv1");
        const img = document.getElementById("parkingImg");

        function drawPredefinedROI(ctx) {
            let x, y, w, h, text, mat;
            const {scaledX, scaledY} = getScale();
            /*[# th:each="roi : ${parkings}"]*//*[# th:if="${roi.getRegionX() != null}"]*/
            x = /*[[${roi.getRegionX()}]]*/0;
            y = /*[[${roi.getRegionY()}]]*/0;
            w = /*[[${roi.getRegionWidth()}]]*/0;
            h = /*[[${roi.getRegionHeight()}]]*/0;
            text = "[[${roi.getParkingNum()}]]";
            ctx.font = "24px Pretendard";
            ctx.fillStyle = "#000";
            mat = ctx.measureText(text);
            ctx.fillText(text, (x + w / 2) / scaledX - mat.width / 2, (y + h / 2) / scaledY - (mat.actualBoundingBoxAscent + mat.actualBoundingBoxDescent) / 2);
            /*[# th:if="${roi.getCamera() != null}"]*/
            mat = ctx.measureText("C");
            ctx.fillStyle = "#0f0";
            ctx.fillText("C", (x + w / 2) / scaledX - mat.width / 2, (y + h / 2) / scaledY + (mat.actualBoundingBoxAscent + mat.actualBoundingBoxDescent) / 2);
            /*[/]*/


            drawRect(ctx, x / scaledX, y / scaledY, (x + w) / scaledX, (y + h) / scaledY, "#ff0");
            /*[/]*//*[/]*/
        }

        const resizeHook = () => {
            canvas.width = img.width;
            canvas.height = img.height;
            drawPredefinedROI(canvas.getContext("2d"));
        };
        window.onresize = resizeHook;
        window.onload = resizeHook;
        img.onresize = resizeHook;

        let startPos;

        function getScale() {
            const scaledX = img.naturalWidth / canvas.clientWidth;
            const scaledY = img.naturalHeight / canvas.clientHeight;
            return {scaledX, scaledY};
        }

        function getOffset(x, y) {
            const {scaledX, scaledY} = getScale();

            return {x: scaledX * x, y: scaledY * y, ogX: x, ogY: y};
        }

        function clearScreen(ctx) {
            ctx.clearRect(0, 0, canvas.offsetWidth, canvas.offsetHeight);
            drawPredefinedROI(ctx);
        }

        function drawRect(ctx, x, y, x2, y2, color = "#f00") {
            ctx.beginPath();
            ctx.moveTo(x, y);
            ctx.lineTo(x2, y);
            ctx.lineTo(x2, y2);
            ctx.lineTo(x, y2);
            ctx.lineTo(x, y);
            ctx.lineWidth = 2;
            ctx.strokeStyle = color;
            ctx.stroke();
        }

        canvas.onmousedown = ev => {
            if (ev.buttons !== 1) return;

            if (!startPos) {
                startPos = getOffset(ev.layerX, ev.layerY);
            }
        }

        canvas.onmousemove = ev => {
            if (ev.buttons === 1 && startPos) {
                const {ogX, ogY} = getOffset(ev.layerX, ev.layerY);
                const {ogX: startX, ogY: startY} = startPos;
                const ctx = canvas.getContext("2d");
                clearScreen(ctx);
                drawRect(ctx, ogX, ogY, startX, startY);
            }
        }

        canvas.onmouseup = ev => {
            const ctx = canvas.getContext("2d");
            const {x: startX, y: startY, ogX: x1, ogY: y1} = startPos;
            const {x, y, ogX: x2, ogY: y2} = getOffset(ev.layerX, ev.layerY);

            window.lastPos = {
                x: Math.round(Math.min(startX, x)),
                y: Math.round(Math.min(startY, y)),
                width: Math.round(Math.max(startX, x) - Math.min(startX, x)),
                height: Math.round(Math.max(startY, y) - Math.min(startY, y)),
            }


            clearScreen(ctx);
            drawRect(ctx, x1, y1, x2, y2);

            startPos = null;
        }

        canvas.onmouseleave = () => {
            if (startPos) {
                const ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, canvas.offsetWidth, canvas.offsetHeight);
                startPos = null;
            }
        }

        canvas.ondragstart = (ev) => {
            console.log(ev.clientX, ev.clientY, ev.button);
        }

        canvas.ondrag = (ev) => {
            console.log(ev.clientX, ev.clientY, ev.button);
        }

        canvas.ondragend = (ev) => {
            console.log(ev.clientX, ev.clientY, ev.button);
        }
        /*]]>*/
    </script>
</div>
</body>
</html>
