<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>차량 조회</title>
    <link href="/static/default-ui.css" rel="stylesheet"/>
    <link href="/static/ui.css" rel="stylesheet"/>
    <link href="/static/table.css" rel="stylesheet"/>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script th:inline="javascript">
        window.settlement = /*[[${settlement}]]*/null; // Server-side calculate is not real-time update.
        // anyway, this is not real payment related, it's just information for user.
        // so securing this information is not very important.
        
        function updateTimeAndPrice() {
            let id, inTime, type;
            /*[# th:each="parking : ${parkings}"]*/
            id = /*[[${parking.getId()}]]*/null;
            inTime = /*[[${parking.getInTime()}]]*/null;
            type = /*[[${parking.getCar().getType()}]]*/null;
            
            updateOne(id, inTime, type);
            /*[/]*/
        }
        
        function updateOne(id, inTime, type) {
            const timeElem = document.getElementById(`time-${id}`);
            const priceElem = document.getElementById(`price-${id}`);
            const inDate = moment(inTime).unix();
            const diff = moment.utc((moment().utc().unix() - inDate) * 1000); // seconds
            
            const day = (Number(diff.format("DDD")) - 1);
            timeElem.innerHTML = `${day === 0 ? '' : `${day}일 `}${diff.format("H시간 m분")}`;
            
            const basePrice = settlement.defaultPrice + (Math.ceil(moment.duration(diff).as('hour')) - 1) * settlement.additionalPrice;
            let priceMultiplier;
            if (type === "ELECTRIC") {
                priceMultiplier = settlement.electricDiscount;
            } else if (type === "HANDICAPPED") {
                priceMultiplier = settlement.handicappedDiscount;
            } else { // normal
                priceMultiplier = settlement.normalDiscount;
            }
            
            const finalPrice = Math.round(basePrice * (100 - priceMultiplier) / 100);
            
            priceElem.innerHTML = `${finalPrice}원`;
        }
        
        setInterval(() => {
            updateTimeAndPrice();
        }, 5000);
    </script>
</head>
<body>
<div class="full-width center">
    <div class="container" th:with="noParking=${parkings == null || parkings.isEmpty()}">
        <div th:if="${error != null}" class="error mb-1rem">
            <p th:text="${error}"/>
        </div>

        <h2>주차된 차량 조회</h2>
        <form class="search-from" action="#" method="get">
            <p class="search-input">
                <label for="carNumber" class="screenreader">자동차 번호</label>
                <input type="text" id="carNumber" name="carNumber" placeholder="차량 뒷번호 4자리"
                       th:value="${param.carNumber}">
            </p>
            <button type="submit" class="primary search-button">조회하기</button>
        </form>

        <span th:if="${noParking}">
            조회 된 차량이 없습니다.
        </span>

        <table th:if="${!noParking}">
            <tr>
                <th>차량 번호</th>
                <th>입차 시간</th>
                <th>주차 시간</th>
                <th>주차 금액</th>
            </tr>
            <th:block th:each="parking : ${parkings}">
                <tr>
                    <td><span th:text="${parking.getCar().getCarId()}"></span></td>
                    <td><span th:text="${@timeFormatter.toCleanTime(parking.getInTime())}"></span></td>
                    <td><span class="full-text" th:id="|time-${parking.getId()}|"></span></td>
                    <td><span class="full-text" th:id="|price-${parking.getId()}|"></span></td>
                </tr>
            </th:block>
        </table>
        <a href="/">홈으로</a>
    </div>
</div>
<script>
    updateTimeAndPrice();
</script>
</body>
</html>
