<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/default-ui.css" rel="stylesheet"/>
    <link href="/static/ui.css" rel="stylesheet"/>
    <link href="/static/table.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="user" type="com.sample.dipvision.parking.domain.member.dto.MemberDto"*/-->
<div class="full-width center">
    <div class="container">
        <h1 th:text="|${me.getMemberName()}님 환영합니다.|"/>
        <p th:if="${me.getRole() == me.getRole().ROLE_CREATED}" th:text="|아직 승인이 되지 않았습니다. 승인을 기다려 주세요.|"/>
        <!--          <p th:text="|차량 번호: ${me.getCarNumber()}|" />-->

        <h2>차량 조회</h2>
        <form class="search-from" action="/parking/search" method="get">
            <p class="search-input">
                <label for="carNumber" class="screenreader">자동차 번호</label>
                <input type="text" id="carNumber" name="carNumber" placeholder="차량 뒷번호 4자리">
            </p>
            <button type="submit" class="primary search-button">조회하기</button>
        </form>
        <a href="/logout">로그아웃</a>
    </div>
</div>
</body>
</html>
