<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 정산표 업로드</title>
    <link href="/static/default-ui.css" rel="stylesheet"/>
    <link href="/static/ui.css" rel="stylesheet"/>
    <link href="/static/table.css" rel="stylesheet"/>
</head>
<body>
<div class="full-width center">
    <div class="container">
        <h1>정산표 업로드</h1>
        <form action="#" method="post" class="default-form" enctype="multipart/form-data">
            <div class="flex flex-col mb-2rem">
                <label for="sheet" class="align-left">엑셀파일</label>
                <input type="file" id="sheet" name="sheet" class="border"
                       accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            </div>
            <button type="submit" class="primary">업로드</button>
        </form>
    </div>
</div>
</body>
</html>