<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 차량관리</title>
    <link href="/static/default-ui.css" rel="stylesheet"/>
    <link href="/static/ui.css" rel="stylesheet"/>
    <link href="/static/table.css" rel="stylesheet"/>
</head>
<body>
<div class="full-width center">
    <div class="container">
        <div th:if="${error != null || msg != null}" th:class="|${error != null ? 'error' : 'okay'} mb-1rem|">
            <p th:if="error != null" th:text="${error}"/>
            <p th:if="msg != null" th:text="${msg}"/>
        </div>
        
        <h2 th:text="|${user.getMemberId()}의 자동차 관리|"></h2>
        <form action="/admin/car" method="post">
            <h3 class="center">자동차 등록</h3>

            <div class="flex flex-row gap-1rem mb-1rem">
                <input type="hidden" id="userId" name="userId" th:value="${user.getId()}">
                <span class="self-center w-80p">
                    <label for="carNumber">차량 번호</label>
                    <input type="text" id="carNumber" name="carNumber" placeholder="차량 번호" required autofocus>
                </span>
                <button type="submit" class="primary w-40p">추가</button>
            </div>
        </form>
<!--        <a th:href="|/admin/car/add?id=${user.getId()}|">추가</a>-->
        <table>
            <tr>
                <th>자동차 번호</th>
                <th>타입</th>
                <th>관리자 메뉴</th>
            </tr>
            <th:block th:each="car : ${cars}">
                <tr>
                    <td><span th:text="${car.getCarId()}"></span></td>
                    <td><span th:text="${car.getType().name()}"></span></td>
                    <td>
                        <a th:href="|/admin/car/in?id=${user.getId()}&car=${car.getCarId()}|">강제 입차</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <a href="/admin">뒤로가기</a>
    </div>
</div>
</body>
</html>
